
.contact {

    .row {

        display  : flex;
        flex-wrap: wrap;
        gap      : 2rem;

        .box-container {
            width: 35rem;

            .box {

                background-color: var(--light-bg);
                border-radius   : .5rem;
                padding         : 2rem;

                h3 {
                    @include titleTextStyle(2rem, var(--black));
                    padding-bottom: 1rem;
                }

                p {
                    @include titleTextStyle(1.5rem, var(--light-color));
                    padding-top: 1rem;

                    span {
                        color        : var(--red);
                        padding-right: .5rem;
                    }
                }


                &:first-child {
                    margin-bottom: 2rem;

                    p:nth-child(3) {
                        text-transform: lowercase;
                    }
                }



                &:nth-child(2) {
                    p {
                        border-bottom: 1px dotted transparent;

                        span {
                            width: 13rem;
                        }

                        &:hover {
                            border-bottom: 1px dotted #333;
                        }
                    }
                }
            }
        }

        form {
            flex            : 1 1 42rem;
            padding         : 2rem;
            border-radius   : .5rem;
            background-color: var(--light-bg);

            h3 {
                @include titleTextStyle(2.5rem, var(--black));
                margin-bottom: 1rem;
            }

            .input-box {
                @include titleTextStyle(1.7rem, var(--light-color));
                background-color: var(--white);
                width           : 100%;
                margin          : 0.7rem 0;
                padding         : 1.2rem 1.4rem;
                border-radius   : .5rem;
                text-transform  : none;
            }

            textarea {
                height: 15rem;
                resize: none;
            }

            .btn {
                background-color: var(--red);
                color           : #fff;

                &:hover {
                    opacity: .8;
                }
            }
        }

    }

}