@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

/* 7 Jan 2022 */

* {
    margin         : 0;
    padding        : 0;
    border         : 0;
    outline        : none;
    list-style     : none;
    text-decoration: none;
    user-select    : none;
    scroll-behavior: smooth;
    text-transform : capitalize;
    box-sizing     : border-box;
    font-family    : 'Nunito', sans-serif;
    transition     : all .1s linear;
}

:root {
    /* ====== Colors ====== */
    --red        : #FA4F09;
    --black      : #333;
    --white      : #FFF;
    --light-color: #666;
    --light-bg   : #EEE;
}

html {

    font-size         : 62.5%;
    overflow-x        : hidden;
    scroll-padding-top: 8rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background   : var(--red);
        border-radius: 5rem;
    }
}

body {
    background: var(--white);
}

body.darkTheme {
    --black      : #fff;
    --white      : #333;
    --light-color: #EEE;
    --light-bg   : #666;
}


@mixin grid ($value) {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
    gap                  : 2rem;
}

@mixin flex($value) {
    display    : flex;
    align-items: $value;
    flex-wrap  : wrap;
    gap        : 1rem;
}

@mixin titleTextStyle($size, $color) {
    padding  : .5rem 0;
    font-size: $size;
    color    : $color;
}

@mixin paragraphTextStyle($size, $color) {
    font-size  : $size;
    color      : $color;
    padding    : 1rem 0;
    line-height: 2;
}

// common padding for all Section tag in page
section {
    padding: 3rem 9%;
}

// common style for all Button in page
.btn {

    display      : inline-block;
    margin-top   : 1rem;
    border-radius: .5rem;
    background   : var(--light-bg);
    cursor       : pointer;
    color        : var(--black);
    padding      : 1rem 3rem;
    font-size    : 1.8rem;

    &:hover {
        background: var(--red);
        color     : #FFF;
    }
}

// common style for all Heading in page
.heading {
    text-align   : center;
    margin-bottom: 3rem;
    font-size    : 4rem;
    color        : var(--black);

    span {
        color: var(--red);
    }
}

.header {

    position  : sticky;
    top       : 0;
    left      : 0;
    right     : 0;
    z-index   : 1000;
    background: var(--light-bg);
    padding   : 2rem 9%;
    @include flex(center);

    .logo {
        margin-right: auto;
        color       : var(--black);
        font-size   : 2.5rem;

        i {
            color: var(--red);
        }
    }

    .navbar {

        a {
            margin-right: 2rem;
            font-size   : 2rem;
            color       : var(--light-color);

            &:hover {
                color: var(--red);
            }
        }
    }

    #menu-btn,
    #theme-btn {
        font-size  : 2.5rem;
        margin-left: 2rem;
        cursor     : pointer;
        color      : var(--black);
        transition : .3s ease;

        &:hover {
            color: var(--red);
        }

    }

    #menu-btn {
        display: none;
    }

    #theme-btn {
        &.fa-sun {
            transform: rotate(180deg);
        }
    }


}

.home {

    .box {
        min-height: 70vh;
        @include flex(center);
        gap: 1rem;


        // when screen going to small then 
        // flip into stack in text+img 
        &:nth-child(2) {
            flex-wrap: wrap-reverse;
            padding  : 3rem 0;
        }

        .image {
            flex: 1 1 42rem;

            img {
                width: 100%;
            }
        }

        .content {
            flex: 1 1 42rem;

            h3 {
                @include titleTextStyle(3rem, var(--black));
            }

            p {
                @include paragraphTextStyle(1.5rem, var(--light-color));
            }
        }

    }
}


.services {

    .box-container {

        @include grid(31rem);

        .box {

            text-align      : center;
            padding         : 2rem;
            background-color: var(--light-bg);
            border-radius   : .5rem;


            img {
                height       : 10rem;
                margin-bottom: 1rem;
            }

            h3 {
                @include titleTextStyle(2rem, var(--black));
            }

            p {
                @include paragraphTextStyle(1.5rem, var(--light-color));
            }
        }
    }
}







@media screen and (max-width: 1040px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    // common padding for all section tag in page
    section {
        padding: 3rem 2rem;
    }

}

@media screen and (max-width: 790px) {


    .header {

        // toggle menu bar show in this screen regulation 
        #menu-btn {
            display: inline-block;

            &.fa-times {
                transform: rotate(180deg);
            }
        }

        .navbar {

            position        : absolute;
            top             : 99%;
            left            : 0;
            right           : 0;
            background-color: var(--light-bg);
            transition      : .3s ease;
            clip-path       : polygon(0 0, 100% 0, 100% 0, 0 0);

            // toggle menu bar click & show dropdown menu by this...
            &.userClick {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            a {
                display: block;
                margin : 2rem;
            }
        }
    }

}

@media screen and (max-width: 555px) {

    html {
        font-size: 50%;
    }

}