@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

/* 7 Jan 2022 */

* {
    margin         : 0;
    padding        : 0;
    border         : 0;
    outline        : none;
    list-style     : none;
    text-decoration: none;
    user-select    : none;
    text-transform : capitalize;
    box-sizing     : border-box;
    font-family    : 'Nunito', sans-serif;
    transition     : all .1s linear;
}

:root {
    /* ====== Colors ====== */
    --red        : #FA4F09;
    --black      : #333;
    --white      : #FFF;
    --light-color: #666;
    --light-bg   : #EEE;
}

@import 'mixin';

html {

    font-size         : 62.5%;
    overflow-x        : hidden;
    scroll-behavior   : smooth;
    scroll-padding-top: 8rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--red);
        border-radius   : 5rem;
    }
}

body {
    background: var(--white);

    &.darkTheme {
        --black      : #fff;
        --white      : #333;
        --light-color: #EEE;
        --light-bg   : #666;
    }
}

// common padding for all Section tag in page
section {
    padding: 3rem 9%;
}

// common style for all Button in page
.btn {

    display      : inline-block;
    margin-top   : 1rem;
    border-radius: .5rem;
    background   : var(--light-bg);
    cursor       : pointer;
    color        : var(--black);
    padding      : 1rem 3rem;
    font-size    : 1.8rem;

    &:hover {
        background: var(--red);
        color     : #FFF;
    }
}

// common style for all Heading in page
.heading {
    text-align   : center;
    margin-bottom: 3rem;
    font-size    : 4rem;
    color        : var(--black);

    span {
        color: var(--red);
    }
}

@import 'header';
@import 'home';
@import 'services';
@import 'work';
@import 'pricing';
@import 'reviews';
@import 'contact';
@import 'newsLetter';
@import 'footer';
@import 'responsive';